*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    height: 100%;
}
body{
    width: 100%;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 200px;
    
}
.card{
    width: 600px;
    height: 447px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 28px;

}
 .card-img img{
    width: 297px;
    height: 450px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.card-detail{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:20px;
    margin-right: 20px;
    height: auto;
}
.card-detail h3{
    color:hsl(228, 12%, 48%);
    font-family: Montserrat;
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 12px;
}
.card-detail h1{
    color:hsl(212, 21%, 14%);
    font-family: Fraunces;
}
.card-detail p{
    color:hsl(228, 12%, 48%);
    font-family: Montserrat; 
    font-size: 14px;
    font-weight: 500;
}
.card-detail .currency{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}
.card-detail .currency h1{
color:hsl(158, 36%, 37%);
}
.card-detail .currency small{
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}
.card-detail .cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:hsl(158, 36%, 37%); 
    width: 100%;
    height: 47px;
    border-radius: 10px;
    padding: 1rem;
    gap:10px;
    color: white;
    cursor:pointer;
    transition: all .2s case-in-out;

}
